/* 
CSS HEX
--tea-rose-red: #d4ada5ff;
--wenge: #6f585aff;
--tea-rose-red-2: #deb9b7ff;
--pale-dogwood: #cda899ff;
--wenge-2: #604c51ff;  
 */

body {
    background-image: url('images/background.jpg');
    background-size: 10%;
    background-repeat: repeat;
    height: 600px;
}